<div class="row" style="margin-top:20px" ng-controller="adminCtrl">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
            <h1>RTS Events</h1>
            <br />
            <i class="fa fa-user-circle fa-5x" style="color:#1e5d9a" aria-hidden="true"></i>
            <h2>Admin Panel</h2>
            <p class="lead">You must login to access resources</p>

            <button class="btn btn-lg btn-primary" ng-click="showLoginForm()"><span class="glyphicon glyphicon-log-in"></span> Log In</button>
        </div>
    </div>
</div>

